body {
	margin: 0;
	padding: 0;
	font-family: 'Nunito', sans-serif;
	color: #121212;
}

.container {
	width: 100vw;
	min-height: 100vh;
	display: grid;
	grid-template-columns: 31.6% 31.6% 31.6%;
	grid-column-gap: 2.5%;
	justify-content: center;
	align-content: center;
}

.about {
	grid-column: 2;
	text-align: center;
	display: flex;
	align-items: center;
}

.about h1 {
	font-weight: 600;
	margin-bottom: 1%;
}

.about p {
	width: 75%;
	margin: auto;
	font-weight: 300;
}